body {background-color: palegreen;}
h1 {
    color: blue;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", "Helvetica", "Arial", "Verdana", sans-serif;
    text-align: center ;
}
#image-content img {
     height: 50%;
     width: 50%;
}

#image-content img {
display:block;
margin:auto;
}



h3   {color: black; }
p    {color: black;}