body {background-color: palegreen;}
h1 {
    color: blue;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", "Helvetica", "Arial", "Verdana", sans-serif;
    align-content: center;
}
h3   {color: black; }
p    {color: black;}