body {background-color: palegreen;}
h1 {
    color: blue;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", "Helvetica", "Arial", "Verdana", sans-serif;
    text-align: center ;
}
. images_div{
    height: 50%;
    width: 50%;
    margin: auto;
}
. image_div{
    height: 50%;
    width: 50%;

}

h3   {color: black; }
p    {color: black;}