#prin{
    background-color:lavender;
    padding: 1px;
}
h3 {
    color: black;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", "Helvetica", "Arial", "Verdana", sans-serif;
    text-align: center;
    font-size: 40px;

}

h2 {
    color: black;
    font-family: "Arial Black";
    text-align: center;
    font-size: 20px;


}

p    {color: black;
       font-size: large ;
}

